%form{:method => "POST", :action => "/", :id => "page"}
  %label{:for => "page_css"} 
    CSS
    %span (paste your CSS code and press convert)
  %textarea{:id => "page_css", :name => "page[css]"}=h @css || ""
  %br
  %input.button{:type => "submit", :name => "commit", :value => "Convert"}
  %input.button{:type => "reset", :name => "commit", :value => "Reset"}
  
  %br
  %label{:for => "page_sass"} 
    Sass 
    %span (Here is your CSS code in Sass)      
    %textarea{:id => "page_sass", :name => "page[sass]"}= @sass || ""
