%html
  %head
    %title css2sass | Convert CSS Snippets to Syntactically Awesome StyleSheets code
    - %w{ reset text 960 app }.each do |css|
      %link{ :href => "/stylesheets/#{css}.css", :rel => "stylesheet", :type => "text/css", :media => "screen", :charset => "utf-8" }
    %meta{ :name => 'description', :content => 'CSS2Sass | Convert CSS Snippets to Syntactically Awesome StyleSheets code'  }
    %meta{ :name => 'keywords', :content => 'haml, ruby, html, rails, ruby on rails, Sass, SCSS'  }
    %link{:href => "/images/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-5087606-8']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    .wrapper
      .top-section
        %header
          %h1 
            css 2 sass/scss
            %span converter
        .top-info-section
          .version-info
            %a{:href => "http://sass-lang.com/"} Version
            = Sass.version[:string]
          .author-info
            %p 
              %span Idea & code:
              %a{ :href => "http://jpablobr.com"} Jose Pablo Barrantes
              %span / 
              %span Design & frontend:
              %a{ :href => "http://hihayk.com"} Hayk
      = yield