::-moz-selection{
	background-color: black;
	color: #3fa9f5;
}
::selection{
	background-color: black;
	color: #3fa9f5;
}
html{
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	margin: 0;
	font-family: "Source Code Pro",	SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	font-size: 12px;
	height: 100%;
}
a{
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid #ccc;
	padding-bottom: 4px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
a:hover{
	color: #3fa9f5;
	border-bottom: 1px solid #3fa9f5;
}
.wrapper{
	height: 100%;
	width: 100%;
	display: table;
	overflow: hidden;
}
.top-section{
	padding: 30px 0 20px;
	display: table-row;
	float: left;
	width: 100%;
}
header{
	border-bottom: 1px solid #e6e6e6;
	margin: 0 30px 10px;
}
h1{
	font-family: montserrat;
	font-size: 18px;
	text-transform: uppercase;
	color: #3fa9f5;
	font-weight: normal;
}
h1 span{
	color: #333;
}
.top-info-section{
	margin-bottom: 20px;
	color: #666;
	padding: 0 30px;
}
.version-info{
	float: left;
}
.author-info{
	float: right;
}
.author-info p{
	margin-bottom: 0;
}
.app-section{
	width: 100%;
	height: 100%;
	display: table-row;
}
.tabs-section{
	background-color: #e6e6e6;
	float: left;
	width: 100%;
}
.tab{
	float: left;
	position: relative;
}
.tab.css{
	width: 50%;
}
.tab.css:after{
	content: "";
	position: absolute;
	width: 1px;
	height: 100%;
	right: 0;
	top: 0;
	background-color: #ccc;
}
.tab.sass,
.tab.scss
{
	width: 25%;
}
.tab h2{
	font-family: montserrat;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 18px;
	padding: 11px 30px;
	margin: 0;
}
.code-section{
	position: relative;
	background-color: #333;
	float: left;
	width: 100%;
	max-height: 100%;
	height: 100%;
}
.code-container.left:after{
	content: "";
	position: absolute;
	width: 1px;
	height: 100%;
	right: 0;
	top: 0;
	background-color: #252525;
}
.code-container.right textarea{
	-webkit-animation: highlight 1s;
    animation: highlight 1s;
}
@-webkit-keyframes highlight {
    from {color: #3fa9f5;}
    to {color: #eee;}
}
@keyframes highlight {
    from {color: #3fa9f5;}
    to {color: #eee;}
}
.code-container{
	width: 50%;
	float: left;
	height: 100%;
	position: relative;
}
.code-container label{
	position: absolute;
	top: 0;
	padding: 20px 30px;
	font-size: 14px;
	color: #999;
	background-color: #333;
	width: 100%;
}
.code-container textarea{
	width: 100%;
	height: 100%;
	padding: 60px 30px 80px 30px;
	font-family: inherit;
	font-size: 14px;
	color: #eee;
	background: none;
	border: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.code-actions{
	width: 50px;
	height: 50px;
	position: absolute;
	background-color: #3fa9f5;
	background-image: url("/images/conv-arr.svg");
	background-size: 22px;
	background-repeat: no-repeat;
	background-position: center center;
	left: 0;
	right: 0;
	top: -45px;
	bottom: 0;
	margin: auto;
	border-radius: 50%;
	text-align: center;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.code-actions:hover{
	width: 110px;
	height: 110px;
	background-position: 120px center;
}
.code-actions .button{
	background: transparent;
	overflow: hidden;
	cursor: pointer;
	color: transparent;
	font-family: montserrat;
	font-weight: normal;
	border: 0;
	opacity: 0;
	font-size: 16px;
	width: 100%;
	height: 50%;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0;
	background-repeat: no-repeat;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.button.scss{
	border-bottom-right-radius: 55px;
	border-bottom-left-radius: 55px;
	background-image: url("/images/scss-icon.svg");
	background-position: center 20px;
}
.button.sass{
	border-top-right-radius: 55px;
	border-top-left-radius: 55px;
	background-image: url("/images/sass-icon.svg");
	background-position: center bottom 20px;
}
.code-actions .button:hover{
	background-color: #1782cf;
}
.code-actions .button.scss{
	bottom: 0;
}
.code-actions .button.sass{
	top: 0;
}
.code-actions:hover .button{
	opacity: 1;
}
.code-actions:hover .arrow svg{
	margin-left: 120px;
	opacity: 0;
}
.notifications{
	position: absolute;
	top: 15px;
	left: 0;
	width: 99%;
	margin: auto;
	z-index: 2;
	padding: 0;
	height: auto;
	font-size: 14px;
}
.notifications span{
	padding: 0 10px;
	background-color: #333;
	float: left;
	padding-left: 30px;
	padding-right: 30px;
}
.notice{
	color: orange;
}
.error{
	color: #FF7B7B;
}
.success{
	color: green;
}
